<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <title>WNC Supply Sites - Site Management</title>
  <link rel="stylesheet" href="../../style.css"/>
  <link rel="stylesheet" href="../../mobile.css"/>
  <link rel="stylesheet" href="../manage.css"/>
  <link rel="stylesheet" href="contact.css"/>
  {{> header-include }}
</head>

<body>
{{> header }}
<div class="page-sub-header horizontal">
  <div class="back-link">
    <a href="/manage/site-selected?siteId={{siteId}}">[&larr; Go Back]</a>
  </div>
  <span class="page-title-sub-header">{{siteName}} - Site Contact</span>
</div>

<h3>Primary Contact Info - visible to authenticated users only</h3>



<div class="data-entry-div vertical">
  <div class="data-field vertical">
    <label for="Contact Name">Name: </label>
    <form class="horizontal" hx-post="/manage/update-site"
          hx-target="next .confirm-text" hx-swap="innerHTML">
      <input type="hidden" name="siteId" value="{{siteId}}">
      <input type="hidden" name="field" value="Contact Name">
      <input id="Contact Name" name="newValue" type="text" class="shortTextField"
             value="{{siteContactName}}" maxlength="24" placeholder="Contact person name"/>
      <button type="submit" class="update-button">Update</button>
    </form>
    <div class="confirm-text"></div>
  </div>

  <div class="data-field vertical">
    <label for="Contact Number">Phone Number<span class="required">*</span>: </label>
    <form class="horizontal" hx-post="/manage/update-site"
          hx-target="next .confirm-text" hx-swap="innerHTML">
      <input type="hidden" name="siteId" value="{{siteId}}">
      <input type="hidden" name="field" value="Contact Number">
      <input id="Contact Number" name="newValue" type="tel" class="shortTextField"
             value="{{siteContactNumber}}" maxlength="24" placeholder="555-555-5555"
             pattern="[^0-9]*([0-9][^0-9]*){10}"
             title="Enter a 10-digit phone number" required/>
      <button type="submit" class="update-button">Update</button>
    </form>
    <div class="confirm-text"></div>
  </div>
</div>

<div class="mission-statement">
    The primary contact will receive SMS notifications for delivery confirmation requests. They will be the first
    person contacted to set up deliveries.
</div>


<h3>Additional Site Managers</h3>
<div class="data-entry-div vertical">
  <div class="data-field vertical" id="add-managers-div">
    {{#additionalContacts}}
    {{> manage/contact/manager-row }}
    {{/additionalContacts}}
    {{> manage/contact/manager-add-form }}
  </div>
  <div class="mission-statement">
    Any additional site managers will be granted access to wnc-supply-sites.com and will be able to register
    using their phone number. They will have full access to manage this site.
  </div>
</div>

</body>
</html>
