.centered {
    text-align: center;
}

.date-column {
    width: 100px;
}

.merge-keep-row {
    background-color: var(--available-bg);
}

.merge-delete-row {
    background-color: var(--danger-bg);
}

#mergeButton {
    margin-bottom: 5px;
}
