<div id="set-password-div">
  <h2>Set Password</h2>
  <form class="larger vertical set-password-form" hx-post="/setup-password/set"
        hx-target="#setup-wizard" hx-swap="innerHTML">
    <div class="horizontal">
      <label class="padding" for="password">Password:</label>
      <input type="password" class="padding" id="password" name="password" size="12" maxlength="32"
             placeholder="">
      <button class="submitButton" type="submit">Set Password</button>
      <input type="hidden" name="validationToken" value="{{validationToken}}">
    </div>
  </form>
  <div class="left-padded">
    <input id="passwordToggle" type="checkbox" onchange="togglePassword()">
    <label class="showPasswordLabel" for="passwordToggle">Show Password</label>
  </div>

  <div id="password-error-message" class="errorMessage">{{{errorMessage}}}</div>

  <div class="mission-statement">
    Minimum password length is 5. Passwords are case-sensitive.<br>
    Our recommendation is to use an easy and memorable pass phrase, for example:
    <ul>
      <li>tarheel strong</li>
      <li>jumping rabbit</li>
      <li>big truck</li>
      <li>move stuff</li>
    </ul>
  </div>
</div>
