<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <title>WNC Supply Sites - Hours & Receiving</title>
  <link rel="stylesheet" href="../../style.css"/>
  <link rel="stylesheet" href="../../mobile.css"/>
  <link rel="stylesheet" href="../manage.css"/>
  <link rel="stylesheet" href="receiving.css"/>
  {{> header-include }}
</head>

<body>
{{> header }}

<div class="page-sub-header horizontal">
  <div class="back-link">
    <a href="/manage/site-selected?siteId={{siteId}}">[&larr; Go Back]</a>
  </div>
  <span class="page-title-sub-header">{{siteName}} - Site Hours & Receiving</span>
</div>


<a id="address"></a>
<h3>Site Hours - publicly visible</h3>

<div class="data-entry-container">
  <div class="data-entry-div vertical">
    <div class="data-field vertical">
      <label for="Site Hours">Site Hours: </label>
      <form class="vertical" hx-post="/manage/update-site"
            hx-target="next .confirm-text" hx-swap="innerHTML">
        <input type="hidden" name="siteId" value="{{siteId}}">
        <input type="hidden" name="field" value="Site Hours">
        <textarea id="Site Hours" name="newValue" rows="5">{{hours}}</textarea>
        <div>
          <button type="submit" class="update-button">Update</button>
        </div>
      </form>
      <div class="confirmation">
        <div class="confirm-text"></div>
      </div>
    </div>
  </div>
</div>


<h3>Receiving Notes - visible to authenticated users only</h3>

<div class="data-entry-container">
  <div class="data-entry-div vertical">
    <div class="data-field vertical">
      <form class="data-field-inner gap-half" hx-post="/manage/update-site"
            hx-target="next .confirm-text" hx-swap="innerHTML">
        <input type="hidden" name="siteId" value="{{siteId}}">
        <input type="hidden" name="field" value="max supply load">
        <div class="bold"><label for="max supply load">Max Supply Load: </label></div>
        <div class="horizontal gap-half">
          <div>
            <select id="max supply load" name="newValue">
              {{#maxSupplyDeliveryOptions}}
              <option value="{{name}}" {{selected}}>{{name}}</option>
              {{/maxSupplyDeliveryOptions}}
            </select>
          </div>
          <div>
            <button type="submit" class="update-button">Update</button>
          </div>
        </div>
      </form>
      <div class="confirmation">
        <div class="confirm-text"></div>
      </div>
    </div>
  </div>

  <div class="data-entry-div vertical">
    <div class="data-field vertical">
      <label for="receiving notes">Receiving Notes/Instructions:</label>
      <form class="vertical" hx-post="/manage/update-site"
            hx-target="next .confirm-text" hx-swap="innerHTML">
        <input type="hidden" name="siteId" value="{{siteId}}">
        <input type="hidden" name="field" value="receiving notes">
        <textarea cols="20" rows="3" id="receiving notes" name="newValue">{{receivingNotes}}</textarea>
        <div class="horizontal">
          <button type="submit" class="update-button">Update</button>
        </div>
      </form>
      <div class="confirmation">
        <div class="confirm-text"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
